{{#extends 'base'}}

{{#block 'content'}}
<h3>Search book by ID</h3>
<form method="post">
    <div>
        <label>Enter the ID of the book</label>
        <input type="text" class='form-control' name="search">
    </div>
    <div>
        <input type="submit" class="btn btn-primary mt-3" value="Search">
    </div>
</form>
{{/block}}

{{/extends}}