{{#extends 'base'}}

{{#block 'content'}}
<h3>Search results:</h3>
    <div>Book ID: {{book.id}}</div>
    <div>Book Title: {{book.title}}</div>
    <div>Book ISBN: {{book.isbn}}</div>
<a class='btn btn-primary mt-3'href="/">Return to Homepage</a>
{{/block}}

{{/extends}}